.too {
    width: 100%;
    height: 50px;
    padding: 16px;
}

.too button {
    margin-right: 25px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

h1 {
    color: white;
    margin: 0;
}
