<mat-toolbar class="too" color="primary">
    <div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <a [routerLink]="['/']">
            <h1>{{ title }}</h1>
        </a>
        <button mat-icon-button *ngIf="showToolbar" (click)="doLogout()" color="secondary">
            <i class="material-icons">exit_to_app</i>
            Salir
        </button>
    </div>
</mat-toolbar>
<!--Menús-->
<mat-toolbar *ngIf="showToolbar" color="primary">
    <div fxFlex="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <button mat-button [matMenuTriggerFor]="menuCustomer">
            <mat-icon>people</mat-icon>
            Clientes
        </button>

        <button mat-button [matMenuTriggerFor]="menuUser" *ngIf="userInfoAuthenticated.roleName !== 'ROLE_USER'">
            <mat-icon>person</mat-icon>
            Usuarios
        </button>

        <mat-menu #menuCustomer="matMenu">
            <button mat-menu-item [routerLink]="['/customers']" *ngIf="userInfoAuthenticated.roleName !== 'ROLE_USER'">
                <mat-icon>admin_panel_settings</mat-icon>
                Administración
            </button>
            <button mat-menu-item [routerLink]="['/customers/report']">
                <mat-icon>assignment</mat-icon>
                Reporte de clientes
            </button>
        </mat-menu>

        <mat-menu #menuUser="matMenu">
            <button mat-menu-item [routerLink]="['/users']" *ngIf="userInfoAuthenticated.roleName !== 'ROLE_USER'">
                <mat-icon>admin_panel_settings</mat-icon>
                Administración
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
