// AG-Grid
@import "./node_modules/@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "./node_modules/@ag-grid-community/core/dist/styles/ag-theme-balham/sass/ag-theme-balham.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.outl {
    padding: 10px 0 0 15px;
}

.snackbar-success {
    color: black;
    background: greenyellow;
}

.snackbar-error {
    color: white;
    background: red;
}

.mat-dialog-without-padding {
    .mat-dialog-container {
        padding: 0;
    }
}
